.color--red {
  color: red;
  font-weight: bold;
}

.sweet-alert,
.sweet-overlay {
  position: fixed;
  display: none;
}

.instructions {
  position: relative;
  text-align: center;
  background-color: #232f3e;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 18px;
}

.scrollg_br {
  display: block;
}

.bounce-1,
.bounce-2 {
  position: absolute;
  top: calc(50% - 12px);
}

.bounce-1 {
  left: 7px;
}

.bounce-2 {
  right: 7px;
}

.comment_level_1 {
  padding-left: 25px;
}

.boxes,
.boxes cbox,
.boxes img {
  width: 100%;
}

.boxes {
  margin: 10px 0;
}

.box-o-t {
  position: absolute;
  top: -34%;
}

.boxes .discover .box-o-b {
  z-index: 1;
  position: relative;
}

.boxes .iphone {
  width: 76%;
  height: auto;
  position: absolute;
  z-index: 0;
  top: -20%;
  left: 12%;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.boxes .discover > .iphone {
  top: -60%;
}

.boxes > div {
  position: relative;
  display: inline-block;
  width: 32.5%;
  height: 50%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.boxes .try:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
}

@media (max-width: 479px) {
  .boxes > div {
    width: 32%;
  }
}

@media (max-width: 319px) {
  .boxes > div {
    width: 48%;
  }
}

.sweet-overlay {
  background-color: #000;
  -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
}

.sweet-alert {
  background-color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  left: 50%;
  top: 35%;
  margin-left: -256px;
  margin-top: -150px;
  overflow: hidden;
  z-index: 99999;
}

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
  }
}

.sweet-alert h2 {
  color: #575757;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 10px 0;
  padding: 0;
  line-height: 40px;
  display: block;
}

.sweet-alert p {
  color: #797979;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden;
}

.sweet-alert button {
  background-color: #e84242;
  color: #fff;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0;
  cursor: pointer;
}

.sweet-alert button:focus {
  outline: 0;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.sweet-alert button:hover {
  background-color: #7ecff4;
  transition: all 0.4s;
}

.sweet-alert button:active {
  background-color: #5dc2f1;
}

.sweet-alert button::-moz-focus-inner {
  border: 0;
}

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sweet-alert .sa-icon.sa-success {
  border-color: #a5dc86;
}

.sweet-alert .sa-icon.sa-success::after,
.sweet-alert .sa-icon.sa-success::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 120px;
  background: #fff;
}

.sweet-alert .sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sweet-alert .sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 60px;
  transform-origin: 0 60px;
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  -webkit-border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #a5dc86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }

  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }

  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}

@-webkit-keyframes slideFromTop {
  0% {
    top: 0;
  }

  100% {
    top: 50%;
  }
}

@keyframes slideFromTop {
  0% {
    top: 0;
  }

  100% {
    top: 50%;
  }
}

@-webkit-keyframes slideToTop {
  0% {
    top: 50%;
  }

  100% {
    top: 0;
  }
}

@keyframes slideToTop {
  0% {
    top: 50%;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%;
  }

  100% {
    top: 50%;
  }
}

@keyframes slideFromBottom {
  0% {
    top: 70%;
  }

  100% {
    top: 50%;
  }
}

@-webkit-keyframes slideToBottom {
  0% {
    top: 50%;
  }

  100% {
    top: 70%;
  }
}

@keyframes slideToBottom {
  0% {
    top: 50%;
  }

  100% {
    top: 70%;
  }
}

@-webkit-keyframes animateSuccessTip {
  0%,
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessTip {
  0%,
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@-webkit-keyframes animateSuccessLong {
  0%,
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes animateSuccessLong {
  0%,
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@-webkit-keyframes rotatePlaceholder {
  0%,
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  100%,
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}

@keyframes rotatePlaceholder {
  0%,
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  100%,
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0);
    -webkit-transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0);
    -webkit-transform: rotateX(0);
    opacity: 1;
  }
}

.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s;
}

@-webkit-keyframes animateXMark {
  0%,
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }

  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes animateXMark {
  0%,
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }

  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}

.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s;
}

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #f8d486;
  }

  100% {
    border-color: #f8bb86;
  }
}

@keyframes pulseWarning {
  0% {
    border-color: #f8d486;
  }

  100% {
    border-color: #f8bb86;
  }
}

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #f8d486;
  }

  100% {
    background-color: #f8bb86;
  }
}

@keyframes pulseWarningIns {
  0% {
    background-color: #f8d486;
  }

  100% {
    background-color: #f8bb86;
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

.la-ball-fall {
  font-size: 0;
  color: #fff;
  width: 54px;
  height: 18px;
}

@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%);
  }

  10%,
  90% {
    opacity: 0.5;
  }

  20%,
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%);
  }
}

@-moz-keyframes ball-fall {
  0% {
    opacity: 0;
    -moz-transform: translateY(-145%);
    transform: translateY(-145%);
  }

  10%,
  90% {
    opacity: 0.5;
  }

  20%,
  80% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(145%);
    transform: translateY(145%);
  }
}

@-o-keyframes ball-fall {
  0% {
    opacity: 0;
    -o-transform: translateY(-145%);
    transform: translateY(-145%);
  }

  10%,
  90% {
    opacity: 0.5;
  }

  20%,
  80% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateY(145%);
    transform: translateY(145%);
  }
}

@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -o-transform: translateY(-145%);
    transform: translateY(-145%);
  }

  10%,
  90% {
    opacity: 0.5;
  }

  20%,
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    -moz-transform: translateY(145%);
    -o-transform: translateY(145%);
    transform: translateY(145%);
  }
}

.animated.animated.bounceIn,
.animated.animated.flipOutX,
.animated@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  53%,
  80% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  53%,
  80% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes bounceIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.la-ball-fall,
.visible {
  display: block;
}

.opentry {
  display: none;
  max-width: 90%;
}

.order_block {
  display: none;
}

.boxtext {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ff0000;
  font-size: 26px;
  font-weight: 700;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 800px) {
  .boxtext {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .boxtext {
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  .boxtext {
    font-size: 18px;
  }
}

#countdown {
  text-align: center;
}

#countdown li {
  color: red;
}

.main-link span {
  display: inline !important;
}

.country_select {
  moz-appearance: none !important;
  -webkit-appearance: none !important;
  background: none;
}

.new-comebacker-wrapp .new-comebacker-btn {
  height: 60px;
  width: 280px;
  display: block;
  color: #ffffff;
  font-size: 22px;
  line-height: 57px;
  font-weight: 700;
  margin: 20px auto 0;
  background: #7abf01;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

#countdown li,
#countdown-modal li {
  color: red;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 30%;
  margin: 0px auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  background: linear-gradient(180deg, #71c341 0%, #005e05 96.87%);
  /* background-color: rgb(113, 195, 65);
	*/
  border-radius: 50%;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor #fff #fff;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(http://courser.of.by/mol-eu/molod/css/cross.svg);
  background-size: 100%;
  top: -40px;
  right: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  cursor: pointer;
}

.pop-up-heading {
  font-size: 40px;
  font-family: "Arial";
  font-weight: 500;
  margin-bottom: 20px;
}

.pop-up-text {
  font-family: "Arial";
  margin: 5px auto 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center !important;
}

.pop-up-button {
  text-transform: uppercase;
  text-decoration: none !important;
  font-family: "Arial";
  font-weight: 700;
  padding: 10px 20%;
  font-size: 20px;
  letter-spacing: 0.04em;
  border-radius: 5px;
  background: linear-gradient(180deg, #71c341 0%, #005e05 96.87%);
  color: #fff;
  border: medium none;
  cursor: pointer;
  outline: medium none;
}

@media (max-width: 480px) {
  .pop-up-text {
    max-width: 280px;
    line-height: 100%;
  }
}

/* в Android-браузере убрать эффект от нажатия на блок */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto";
}

.invisible {
  display: none !important;
}

.opacityNone {
  opacity: 0 !important;
}

.color--red {
  color: red;
  font-weight: bold;
}

/* Контейнер для  изображений */
.container__img-responsive {
  max-width: 400px;
  margin: 15px auto;
}

.img-responsive {
  display: block;
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.form-title__number {
  background: red;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  margin: 0 5px;
}

/* Форма оставить комментарий и кнопка заказать */
.comment-list {
  max-width: 1200px;
  margin: 10px auto;
}

.comment-add {
  margin-top: 20px;
  padding: 10px;
  /* background: none repeat scroll 0% 0% rgb(247, 247, 247); */
}

.add-comment {
  margin: 0 auto;
  max-width: 600px;
}

.comment-add textarea {
  padding: 5px;
  border: 1px solid rgb(192, 202, 213);
  border-radius: 5px;
  width: calc(100% - 10px);
  height: 80px;
  margin: 0px 0px 10px;
  resize: vertical;
  font-family: Arial;
  font-size: 15px;
}

.comment-add textarea:focus {
  outline: medium none;
}

.comment-add span {
  display: block;
  float: right;
  color: rgb(43, 88, 122);
  font-size: 14px;
  margin: 5px 0px 0px;
}

.comment-add__submit {
  width: 100px;
  height: 30px;
  letter-spacing: 0.02em;
  border-radius: 5px;
  background: rgb(73, 112, 153);
  color: #fff;
  font-size: 14px;
  line-height: 100%;
  border: none;
  outline: 0;
  cursor: pointer;
}

.mybutton {
  max-width: 230px;
  background: linear-gradient(180deg, #f00 0%, #470000 96.87%);
  box-shadow: 0px 22px 44px -12px rgba(255, 37, 0, 0.2);
  text-shadow: 1px 3px 3px #000000;
  color: #fff !important;
  padding: 16px 15px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 15px auto 25px;
  cursor: pointer;
  text-shadow: none;
  border: none;
}

.mybutton:hover {
  background: linear-gradient(180deg, #f85555 0%, #a02a2a 96.87%);
  transition: 0.5s;
}

.text-title {
  font-weight: 700;
}

.news-detail .spin_head__img-container {
  max-width: 500px;
  margin: 0 auto;
}

.news-detail .spin_head__img {
  display: block;
  width: 100%;
  height: auto;
}

.news-detail .section_form {
  border-radius: 20px;
  box-shadow: 4px 4px 10px #000;
  border-radius: 20px;
  width: 90%;
  min-width: 300px;
  height: auto;
  margin: 25px auto;
  text-align: center;
  max-width: 600px;
}

.news-detail .form {
  background: #fafafa;
  border-radius: 20px;
}

.news-detail .img_form {
  width: 80%;
  margin: 25px 0 0;
}

.news-detail .h4_form {
  width: 100%;
  font-family: "Open Sans Condensed";
  background: linear-gradient(180deg, rgba(112, 174, 210, 1) 0%, rgba(0, 0, 0, 0) 90%);
  margin: 0;
  padding: 15px;
  border-radius: 14px 14px 0px 0px;
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

.news-detail .h4_form1 {
  padding: 0 10px;
  margin: 10px 0;
  font-weight: 700;
  font-size: 18px;
  font-family: "arial";
}

.news-detail .h4_form1__timmer {
  margin: 10px auto 0;
  font-size: 35px;
  font-family: "Open Sans Condensed";
}

.news-detail .input_form {
  margin: 5px;
  width: 55%;
  min-width: 250px;
  font-size: 16px;
  font-family: "arial";
  padding: 7px 10px;
  border: 2px solid #70aed2;
  border-radius: 20px;
  background: #fefeff;
  outline: none;
  text-align: center;
}

.news-detail .input_form:focus {
  background: #fff;
  border: 1px solid #167709;
}

.news-detail .button_form {
  max-width: 400px;
  min-width: 250px;
  background: linear-gradient(180deg, red 0%, #8b0000 96.87%);
  border: none;
  color: #fff;
  padding: 10px 45px;
  border-radius: 20px;
  font-size: 20px;
  font-family: arial;
  font-weight: 700;
  margin: 20px auto;
  outline: none;
  cursor: pointer;
}

.news-detail .button_form:hover {
  background: #c9302c;
}

@media (max-width: 600px) {
  .news-detail .button_form {
    max-width: 280px;
    font-size: 18px;
  }

  .news-detail .close-popup {
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    -webkit-box-shadow: 0 0 10px #adadad;
    box-shadow: 0 0 10px #adadad;
  }

  .news-detail .spin-wrapper__title {
    font-size: 16px;
    line-height: 1.2;
  }

  .news-detail .form-title__number {
    width: 25px;
    height: 25px;
    line-height: 24px;
  }
  .scrollg_br {
    display: inline;
  }
}

@media (max-width: 480px) {
  .news-detail .spin_head__img-container {
    max-width: 320px;
  }

  .news-detail .h4_form {
    font-size: 18px;
  }

  .news-detail .h4_form1 {
    font-size: 14px;
  }

  .news-detail .button_form {
    /* width: 90%; */
    font-size: 16px;
    padding: 10px;
  }

  .news-detail .h4_form1__timmer {
    font-size: 30px;
  }

  .news-detail .img_form {
    width: 90%;
  }

  .news-detail .pop-up-text {
    max-width: 280px;
    line-height: 100%;
  }

  .news-detail .spin-wrapper__title {
    font-size: 14px;
  }

  /* Класс для текста */
  .text-style {
    font-size: 14px;
    line-height: 115%;
  }

  .text-title {
    font-size: 18px;
    line-height: 120%;
  }
  .add-comment {
    margin-left: 0;
    max-width: 600px;
  }
}
