
.time {
 	color: #ec9123;
 	font-size: 16px;
 	font-family: Arial;
 	line-height: 0%;
 	text-transform: lowercase;
 	position: relative;
 	font-weight: 700;
 	margin: 0 0 0 10px;
 }

 .links {
 	font-weight: 700;
 	text-decoration: underline;
 }
 .cross_sale {
	text-decoration: line-through;
	font-weight: 700;
}

 .container__img-responsive.logo_photo {
 	/* max-width: 300px;
 	margin: 10px auto; */
 	max-width: 200px;
 	float: left;
 	margin: 5px 10px 0 0;
 }

 .autor__container .line {
 	margin: 0 0 20px;
 	width: 100%;
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
 }

 .line {
 	width: 90%;
 	margin: 40px auto 30px;
 	border: 0;
 	height: 1px;
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
 }

 .text-italic {
 	margin: -10px 0 0;
 	font-style: italic;
 	font-size: 14px;
 	line-height: 120%;
 	font-weight: 700;
 	text-align: center;
 }

 .comment_level__1 {
 	padding-left: 30px;
 }




 .video-container {
 	position: relative;
 	max-width: 940px;
 	margin: 30px auto;
 	overflow: hidden;
 	background: #000;
 	border: 46px solid #fff;
 	border-radius: 20px;
 	-webkit-box-shadow: 0 0 50px 0 rgb(0 0 0 / 20%);
 	box-shadow: 0 0 50px 0 rgb(0 0 0 / 20%);

 }

 .video-container iframe {
 	width: 100%;
 	height: 560px;
 }

 .article__about-authors_story {
 	position: relative;
 	padding: 10px 0 10px 100px;
 	margin-bottom: 10px;
 }

 .article__about-authors_story p.text-style {
 	font-style: italic;
 	margin-bottom: 0;
 }

 .article__about-authors_story::before {
 	content: '';
 	position: absolute;
 	top: 0;
 	left: 30px;
 	height: 100%;
 	width: 4px;
 	background-color: red;
 }

 .event_order {
 	opacity: .88;
 	position: relative;
 	-webkit-appearance: none;
 	display: block;
 	text-indent: 0 !important;
 	background: #71b100 none repeat scroll 0 0;
 	outline: medium none;
 	border-width: medium medium 5px;
 	font-size: 26px;
 	border-style: none none solid;
 	border-color: currentcolor currentcolor #548300;
 	-moz-border-top-colors: none;
 	-moz-border-right-colors: none;
 	-moz-border-bottom-colors: none;
 	-moz-border-left-colors: none;
 	border-image: none;
 	width: 90%;
 	height: 70px;
 	line-height: 70px;
 	margin-top: 15px !important;
 	border-radius: 8px;
 	font-weight: 700 !important;
 	text-transform: uppercase !important;
 	text-align: center;
 	color: #fff !important;
 	cursor: pointer
 }

 .px25 {
 	font-size: 25px
 }

 .pink {
 	color: #ef1650 !important
 }

 .px18 {
 	font-size: 18px
 }

 .px15 {
 	font-size: 18px
 }

 .left-pack {
 	background: #ef1650 none repeat scroll 0 0;
 	display: inline-block;
 	width: 40px;
 	height: 40px;
 	line-height: 40px;
 	text-align: center;
 	vertical-align: middle;
 	font-weight: 700;
 	border-radius: 5px;
 	color: #fff;
 	margin: 0 8px
 }

 @media (max-width:768px) {
 	.video-container {
 		border: 5px solid #fff;
 		-webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
 		box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
 	}

 	.video-container iframe {
 		height: 320px;
 	}
/* 
 	.form {
 		display: flex;
 		flex-direction: column;
 		align-items: center
 	} */

 	.frame-img {
 		margin-right: 0 !important
 	}

 	input.name-black,
 	input.phone-black {
 		font-size: 18px !important
 	}

 	select {
 		font-size: 24px
 	}
 }

 body,
 html {
 	margin: 0
 }

 .order_block {
 	text-align: center !important
 }

 .order_block img {
 	width: 42%
 }


 b,
 body,
 div,
 figure,
 h1,
 h3,
 header,
 html,
 img,
 nav,
 p,
 span,
 strong {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	outline: 0;
 	font-size: 100%;
 	vertical-align: baseline;
 	background: 0 0
 }

 body {
 	line-height: 1;
 	font-family: sans-serif
 }

 figure,
 header,
 nav {
 	display: block
 }

 a {
 	margin: 0;
 	padding: 0;
 	font-size: 100%;
 	vertical-align: baseline;
 	background: 0 0
 }

 * {
 	box-sizing: border-box
 }

 body {
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	background-color: #f2f2f2;
 	position: relative
 }

 img {
 	max-width: 100%
 }

 a {
 	color: #b88b58;
 	text-decoration: none
 }

 .Body {
 	font-size: 18px;
 	line-height: 22px
 }

 @media only screen and (min-width:48em) {
 	.Body {
 		font-size: 20px;
 		line-height: 27px
 	}
 }

 .Body>* {
 	max-width: 980px
 }

 .Body a {
 	color: inherit;
 	box-shadow: inset 0 -1px #b88b58
 }

 .Body a:hover {
 	color: #b88b58
 }

 .Body p {
 	margin-bottom: 15px
 }

 .Body h3 {
 	margin-top: 18px;
 	margin-bottom: 12px;
 	font-size: 21px;
 	font-weight: 700
 }

 .SvgIcon {
 	position: relative;
 	z-index: 1;
 	display: flex;
 	overflow: hidden;
 	justify-content: center;
 	align-items: center;
 }

 .logo {
 	width: 100px;
 	height: auto;
 	display: block;
 }

 .SvgIcon--meduzaLogo {
 	margin-top: 0;
 	height: 45px;
 	width: 100px;
 }

 .Menu {
 	display: none;
 	text-transform: uppercase;
 	font-weight: 600;
 	color: #fff
 }

 @media only screen and (min-width:64em) {
 	.Menu {
 		font-size: 13px;
 		display: block;
 		height: 45px;
 		width: 100%;
 		letter-spacing: 1px;
 		background-color: #262626;
 		display: -webkit-flex;
 		display: -ms-flexbox;
 		display: flex;
 		-webkit-justify-content: center;
 		-ms-flex-pack: center;
 		justify-content: center
 	}
 }

 .Menu-item {
 	position: relative;
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-align-items: center;
 	-ms-flex-align: center;
 	align-items: center;
 	padding: 0;
 	text-align: center;
 	-o-transition: color .15s ease-out;
 	transition: color .15s ease-out
 }

 @media only screen and (min-width:64em) {
 	.Menu-item {
 		padding: 0 15px;
 		border-bottom: 0
 	}
 }

 @media only screen and (min-width:64em) {
 	.Menu-item:last-of-type {
 		border-right: none
 	}
 }

 @media only screen and (min-width:64em) {
 	.Menu-item:hover {
 		color: #999;
 		background-color: inherit
 	}
 }

 .Menu-link {
 	-o-transition: color .15s ease-out;
 	transition: color .15s ease-out;
 	text-decoration: none;
 	color: #fff;
 	position: relative;
 	line-height: 45px;
 	top: 1px
 }

 .Menu-item:hover .Menu-link {
 	color: #999
 }

 .MeduzaLogo {
 	position: relative;
 	z-index: 2;
 	top: 0;
 	left: 0;
 	width: 100px;
 	height: 100%;
 	display: inline-block;
 	background-repeat: no-repeat;
 	background-position: center;
 	background-position: center 10px;
 	background-size: contain
 }

 .Header {
 	position: relative;
 	height: 45px;
 	background-color: #262626;
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	flex-flow: row nowrap;
 	z-index: 2
 }

 @media only screen and (min-width:64em) {
 	.Header {
 		padding: 0 15px
 	}
 }

 @media only screen and (max-width:63.9375em) {
 	.Header .HeaderButton--chat {
 		display: none
 	}
 }

 .Header-left {
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-basis: 16%;
 	-ms-flex-preferred-size: 16%;
 	flex-basis: 16%;
 	-webkit-flex-grow: 1;
 	-ms-flex-positive: 1;
 	flex-grow: 1;
 	height: 100%
 }

 .Header-center {
 	height: 100%;
 	display: none
 }

 @media only screen and (min-width:64em) {
 	.Header-center {
 		display: -webkit-flex;
 		display: -ms-flexbox;
 		display: flex;
 		-webkit-justify-content: center;
 		-ms-flex-pack: center;
 		justify-content: center;
 		-webkit-flex-grow: 2;
 		-ms-flex-positive: 2;
 		flex-grow: 2
 	}
 }

 .Header-right {
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	-ms-flex-direction: row;
 	flex-direction: row;
 	height: 100%;
 	-webkit-align-items: flex-start;
 	-ms-flex-align: start;
 	align-items: flex-start;
 	-webkit-justify-content: flex-end;
 	-ms-flex-pack: end;
 	justify-content: flex-end;
 	-webkit-flex-basis: 16%;
 	-ms-flex-preferred-size: 16%;
 	flex-basis: 16%;
 	-webkit-flex-grow: 1;
 	-ms-flex-positive: 1;
 	flex-grow: 1
 }

 .Header-meduzaLogo {
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	height: 45px;
 	-webkit-justify-content: center;
 	-ms-flex-pack: center;
 	justify-content: center;
 	position: absolute;
 	left: 0;
 	right: 0
 }

 @media only screen and (min-width:64em) {
 	.Header-meduzaLogo {
 		position: static
 	}
 }

 .HeaderButton {
 	position: relative;
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	min-width: 45px;
 	height: 100%;
 	padding: 0 15px;
 	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 	-webkit-justify-content: center;
 	-ms-flex-pack: center;
 	justify-content: center;
 	-webkit-align-items: center;
 	-ms-flex-align: center;
 	align-items: center;
 	color: #fff;
 	fill: currentColor;
 	border: 0;
 	background: 0 0;
 	margin: 0;
 	cursor: pointer
 }

 .HeaderButton:active {
 	outline-width: 0
 }

 .HeaderButton:hover {
 	color: #999
 }

 .HeaderButton::after {
 	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	border-right: 1px solid #676767
 }

 @media only screen and (min-width:64em) {
 	.HeaderButton::after {
 		top: 10px;
 		bottom: 10px
 	}
 }

 .HeaderButton-link {
 	display: block;
 	padding-top: 2px;
 	text-transform: uppercase;
 	color: inherit;
 	font-weight: 600;
 	cursor: pointer
 }

 .HeaderButton-link::before {
 	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	content: ''
 }

 .HeaderButton--chat {
 	font-size: 13px;
 	letter-spacing: .05em
 }

 .MaterialTag {
 	position: relative;
 	z-index: 30;
 	display: inline-block;
 	vertical-align: top;
 	text-transform: uppercase;
 	border: 1px solid;
 	border-radius: 2px;
 	font-weight: 700;
 	line-height: 1;
 	color: #b88b58;
 	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none
 }

 @media only screen and (max-width:32em) {
 	.MaterialTag {
 		height: 15px;
 		line-height: 15px;
 		padding: 0 5px;
 		font-size: 10px;
 		letter-spacing: .5px
 	}
 }

 span.MaterialTag {
 	cursor: default;
 	pointer-events: none
 }

 @media only screen and (min-width:32em) {
 	.MaterialTag--medium {
 		height: 20px;
 		line-height: 20px;
 		padding: 0 7px;
 		letter-spacing: 1px;
 		font-size: 12px
 	}
 }

 .MaterialTag--solid {
 	color: #fff;
 	background: #b88b58;
 	border-color: #b88b58;
 	text-shadow: 0 1px 1px rgba(0, 0, 0, .5)
 }

 .MaterialMeta {
 	display: inline-block;
 	font-size: 12px;
 	line-height: 14px;
 	color: grey;
 	margin-right: 12px;
 	padding-left: 18px;
 	background-repeat: no-repeat;
 	background-position: left center;
 	background-size: 12px;
 	font-weight: 400
 }

 @media only screen and (min-width:48em) {
 	.MaterialMeta {
 		font-size: 15px;
 		line-height: 18px;
 		margin-right: 15px
 	}
 }

 .MaterialMeta--source {
 	background-position-y: 1px
 }

 @media only screen and (min-width:48em) {
 	.MaterialMeta--source {
 		background-position-y: 4px;
 		white-space: nowrap
 	}
 }

 .MaterialMeta--time {
 	background-size: 12px 12px
 }

 .MediaMaterialHeader {
 	max-width: 840px
 }

 .MediaMaterialHeader-first {
 	color: #000;
 	line-height: 27px
 }

 @media only screen and (min-width:48em) {
 	.MediaMaterialHeader-first {
 		line-height: 38px
 	}
 }

 .MediaMaterialHeader-first,
 .MediaMaterialHeader-separator {
 	-o-transition: color .25s ease-out;
 	transition: color .25s ease-out;
 	font-size: 24px;
 	font-weight: 700
 }

 @media only screen and (min-width:48em) {

 	.MediaMaterialHeader-first,
 	.MediaMaterialHeader-separator {
 		font-size: 36px
 	}
 }

 .MediaMaterial {
 	background-color: #fff;
 	padding: 12px
 }

 @media only screen and (min-width:48em) {
 	.MediaMaterial {
 		padding: 25px 15px 20px
 	}
 }

 .MediaMaterial-header {
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: column;
 	-ms-flex-direction: column;
 	flex-direction: column;
 	max-width: 650px;
 	margin: 0 auto 18px;
 	-webkit-flex-wrap: wrap;
 	-ms-flex-wrap: wrap;
 	flex-wrap: wrap;
 	-webkit-align-items: flex-start;
 	-ms-flex-align: start;
 	align-items: flex-start
 }

 @media only screen and (min-width:63.125em) {
 	.MediaMaterial-header {
 		max-width: 1000px;
 		margin-bottom: 25px
 	}
 }

 .MediaMaterial-tag {
 	margin-bottom: 5px
 }

 @media only screen and (min-width:48em) {
 	.MediaMaterial-tag {
 		margin-bottom: 11px
 	}
 }

 .MediaMaterial-meta {
 	margin-top: 12px
 }

 @media only screen and (min-width:48em) {
 	.MediaMaterial-meta {
 		margin-top: 12px
 	}
 }

 .MediaMaterial-materialContent {
 	width: 100%;
 	max-width: 650px
 }

 .MediaMaterial-body {
 	position: relative;
 	max-width: 650px;
 	margin: 0 auto
 }

 @media only screen and (min-width:63.125em) {
 	.MediaMaterial-body {
 		max-width: 1000px
 	}
 }


 	.MediaMaterial--fullWidth .MediaMaterial-header {
 		-webkit-align-items: center;
 		-ms-flex-align: center;
 		align-items: center;
 		text-align: center
 	}


 .MediaMaterial--fullWidth .MediaMaterial-materialContent {
 	max-width: none
 }

 .Material {
 	padding: 12px 0 0
 }

 @media only screen and (min-width:48em) {
 	.Material {
 		padding: 15px 0 0
 	}
 }

 .Material-shadow {
 	position: absolute;
 	width: 100%;
 	height: 1px;
 	left: 0;
 	z-index: 300;
 	background-color: rgba(0, 0, 0, .15)
 }

 .Material-shadow--top {
 	top: 0
 }

 .Material-container {
 	background: #fff;
 	position: relative
 }

 @media only screen and (min-width:48em) {
 	.Body h3 {
 		margin-top: 35px;
 		margin-bottom: 10px;
 		font-size: 26px;
 		line-height: 27px
 	}
 }

 .MaterialContent--bannerless .Body>* {
 	margin-right: auto;
 	margin-left: auto
 }

 .MaterialContent .Figure {
 	margin-right: -12px;
 	margin-left: -12px
 }

 @media only screen and (min-width:40.625em) {
 	.MaterialContent .Figure {
 		margin-right: auto;
 		margin-left: auto
 	}
 }

 .Figure {
 	margin: 15px -12px
 }

 .Figure img {
 	display: block;
 	margin: 5px auto
 }

 @media only screen and (min-width:48em) {
 	.Figure {
 		margin: 27px auto 20px
 	}
 }

 @media only screen and (min-width:75em) {
 	.Figure {
 		max-width: 650px
 	}
 }

 .Figure img {
 	max-width: 100%;
 	vertical-align: bottom
 }

 @media only screen and (min-width:40.625em) {
 	.Figure img {
 		border-radius: 2px
 	}
 }

 .Figure-caption {
 	width: 100%;
 	max-width: 650px;
 	margin: 0 auto;
 	padding: 7px 12px 0;
 	font-size: 15px;
 	line-height: 17px
 }

 @media only screen and (min-width:40.625em) {
 	.Figure-caption {
 		padding-right: 0;
 		padding-left: 0;
 		font-size: 16px;
 		line-height: 18px
 	}
 }

 .App {
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: column;
 	-ms-flex-direction: column;
 	flex-direction: column;
 	min-height: 100vh;
 	transition: -webkit-transform .25s ease-out;
 	-o-transition: -o-transform .25s ease-out;
 	transition: transform .25s ease-out;
 	transition: transform .25s ease-out, -webkit-transform .25s ease-out, -o-transform .25s ease-out
 }

 .App-content {
 	transition: -webkit-transform .25s ease-out;
 	-o-transition: -o-transform .25s ease-out;
 	transition: transform .25s ease-out;
 	transition: transform .25s ease-out, -webkit-transform .25s ease-out, -o-transform .25s ease-out
 }

 .App-content {
 	position: relative;
 	z-index: 1;
 	overflow: visible;
 	background-color: #f2f2f2;
 	-webkit-flex: 1 0 auto;
 	-ms-flex: 1 0 auto;
 	flex: 1 0 auto
 }

 .App-header {
 	position: relative;
 	z-index: 200
 }

 .App--isMaterial .App-content {
 	background-color: #e6e6e6
 }


 .ava-img {
 	width: 50px;
 	margin-right: 10px;
 	display: inline-block;
 	/* float: left; */
 	vertical-align: middle
 }

 .Body a {
 	color: #00f
 }

 .Body a:hover {
 	box-shadow: none
 }

 .comment-item__container>p:first-child {
 	display: flex;
 }

 .comment-item__container:not(:last-child),
 #first-comment {
 	margin-bottom: 45px;
 }

 .comment-item__container .text-style,
 #first-comment .text-style {
 	margin-bottom: 5px;
 }

 .comment-item__container.comment__otvet {
 	margin: -20px 0 20px 20px;
 }

 .comment-item__container.comment__otvet_2 {
 	margin: -5px 0 20px 40px;
 }

 .comment-item__container.comment__otvet_3 {
 	margin: -5px 0 20px 60px;
 }

 .comment-item__container.comment__otvet_4 {
 	margin: -5px 0 20px 80px;
 }

 .name_time__container {
 	display: flex;
 	align-items: center;
 }

 @media screen and (max-width:1020px) {
 	.frame-img {
 		margin-right: 0 !important
 	}



 	.action-valid {
 		line-height: 27px !important;
 		font-size: 20px !important
 	}
 }

 @media screen and (max-width:419px) {
 	.action-valid {
 		line-height: 19px !important;
 		font-size: 20px !important
 	}


 }

 .frame-img {
 	max-width: 350px
 }

 .mybutton:hover {
 	background-color: #ff6d6d;
 	transition: .5s
 }

 .mybutton {
 	background-color: #ff3c3c;
 	color: #fff;
 	padding: 16px 35px;
 	border-radius: 10px;
 	font-size: 17px;
 	text-transform: uppercase;
 	text-decoration: none;
 	font-weight: 500;
 	display: block;
 	margin: 15px auto;
 	cursor: pointer;
 	text-shadow: none;
 	border: none
 }

 .mybutton:hover {
 	background-color: #ff6d6d;
 	transition: .5s
 }

 .f_title {
 	text-align: center
 }

 @media (max-width:1008px) {
 	.form-box {
 		width: 100% !important
 	}
 }

 @media (max-width:570px) {
 	h1 {
 		font-size: 22px;
 	}

 	h2 {
 		font-size: 18px;
 	}

 	.article__about-authors_story {
 		padding: 10px 0 10px 25px;
 	}

 	.article__about-authors_story::before {
 		left: 15px;
 		width: 3px;
 	}
 }

 @media (max-width:480px) {
 	.video-container {
 		border: 5px solid #fff;
 	}

 	.video-container iframe {
 		height: 240px;
 	}

 	.line {
 		width: 98%;
 		margin: 30px auto 15px;
 	}

 	.container__img-responsive.logo_photo {
 		max-width: 260px;
 		float: none;
 		margin: 5px auto 10px;
 	}

 	.comment-item__container:not(:last-child),
 	#first-comment {
 		margin-bottom: 35px;
 	}

 	.time {
 		font-size: 12px;
 		margin: 0;
 	}

 	.MediaMaterial {
 		padding: 12px 8px;
 	}

 	.name_time__container {
 		flex-direction: column;
 		justify-content: center;
 		align-items: flex-start;
 	}

 	.name_time__container strong {
 		margin-bottom: 7px;
 	}

 }

 @media (max-width:370px) {
 	.video-container {
 		border: 3px solid #fff;
 	}

 	.video-container iframe {
 		height: 180px;
 	}

 	.MediaMaterial {
 		padding: 12px 4px;
 	}

 }


 .ListBlock-root li {
 	position: relative;
 	margin-bottom: 6px;
 }

 .c15,
 .c15 td,
 .c15 tr {
 	border: 1px solid #d6d6d6;
 }

 .c15 {
 	margin-bottom: 25px;
 }

 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 caption,
 th,
 td {
 	text-align: left;
 	font-weight: normal;
 	vertical-align: middle;
 }

 .c15 .c3 p {
 	padding: 5px 10px 5px;
 	margin-bottom: 0;
 }

 .qoute {
 	position: relative;
 	border-top: 3px solid #1da1f2;
 	border-bottom: 3px solid #1da1f2;
 	padding: 15px 0;
 	margin: 15px 0;
 }

 .qoute img {
 	position: absolute;
 	top: calc(50% - 16px);
 	left: 0;
 	z-index: 0;
 }

 .qoute p {
 	width: 80%;
 	margin: 0 auto;
 	text-align: center;
 	font-weight: bold;
 	z-index: 1;
 }



 .content-left-doctor {
 	background-color: #e2e2e2;
 	padding: 2%;
 	margin-top: 25px;
 }

 .content-left-doctor::after {
 	content: "";
 	display: block;
 	clear: both;
 }

 .content-left-doctor-foto {
 	display: block;
 	width: 48%;
 	float: left;
 	margin-right: 2%;
 }

 .content-left-doctor-text {
 	display: block;
 	width: 50%;
 	float: right;
 }
 @media (max-width: 420px) {
	.content-left-doctor-foto {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
 
	.content-left-doctor-text {
		float: none;
		width: 100%;
	}
 }
 .rub-ramka {
 	margin-top: 22px;
 	margin-bottom: 18px;
 	background: rgba(189, 61, 77, .04);
 	padding: 12px 15px !important;
 	color: #080808;
 	font-size: 18px;
 	font-family: roboto\ condensed, arial;
 	border: 2px solid;
 	border-radius: 4px;
 	border-color: #bd3d4d;
 	text-shadow: 0 0 0 #616161;
 	text-indent: 0 !important;
 	text-align: left;
 }

 .text-title--dashed {
 	font-size: 22px;
 	font-weight: 700;
 	text-align: center;
 	margin: 30px auto 0;
 	text-transform: uppercase;
 }

 .text-title--dashed span {
 	border-bottom: 1px dashed #000;
 }